.navbar {
  display: flex;
  color: tan;
}
.row {
  border: 5px solid black;
}

#mon {
  color: beige;
}
#tue {
  color: beige;
}
#wed {
  color: beige;
}
#thu {
  color: beige;
}
#fri {
  color: beige;
}
.WD-container {
  height: 90%;
  width: 50px;
}
.day {
  border: 2px solid beige;
  display: flex;
  justify-content: center;
  background-color: black;
  color: beige;
}
.weatherList {
  list-style: none;
  font-family: "Russo One", sans-serif;
  font-size: medium;
  display: grid;
  color: beige;
}
.currentContainer {
  display: flex;
  width: 2rem;
  height: 2rem;
}
#currentDay {
  display: flex;
  width: 300px;
  height: 400px;
  background-color: burlywood;
  list-style: none;
}
.ul {
  list-style: none;
}
