
.navbar {
    display: flex;
    color: tan;
}
.row {
border: 5px solid black;
}

#mon {
    color: beige;
}
#tue {
    color: beige;
}
#wed {
    color: beige;
}
#thu {
    color: beige;
}
#fri {
    color: beige;
}
.WD-container {
    height: 40vh;
    width: 50px;

}
.day {
    border: 2px solid beige;
    display: flex;
    justify-content: center;
    background-color: black;
}